<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>
<body>
<header th:fragment="header">
    <h1 th:text="#{plantilla.titulo}">Titulo</h1>
</header>

<footer th:fragment="footer">
    <br/>
    <a th:href="@{/(lang=es)}">ES</a> |
    <a th:href="@{/(lang=en)}">EN</a> |
    <span> [[#{plantilla.pie-pagina}]] <a href="https://uis.edu.co/es/" target="_blank">UIS</a></span>
</footer>

</body>
</html>